/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: PlayFair;
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 1.5rem;
  font-family: PlayFair;
}
h2 {
  font-size: 1.5rem;
  font-family: PlayFair;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: OpenSans;
}
h4 {
  font-size: 1.3rem;
  font-family: OpenSans;
  font-weight: 400;
}
h5 {
  font-size: 1.775rem;
  font-family: PlayFair;
}
h6 {
  font-size: 1.331rem;
  font-family: PlayFair;
}
p {
  font-size: 1rem;
  font-family: OpenSans;
}
small {
  font-size: 0.75rem;
  font-family: PlayFair;
}

/* Variablen / Color */
:root {
  --bg-color: #6b4c3b;
  --text-color: #f3e9dc;
  --color3: #ffffff;
}

/* HEADER */
.header-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-container h2 {
  margin-left: 2rem;
  font-weight: 100;
}
.nav-container ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  font-weight: 100;
}
.nav-container ul li {
  list-style: none;
}
.nav-container ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.nav-container ul li a:hover {
  text-decoration: underline;
}
.nav-container ul li a:focus {
  text-decoration: underline;
}
/* Hero - Section */

/* Media - Queries */
/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
} */
/* @media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
