/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: PlayFair;
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 1.5rem;
  font-family: PlayFair;
}
h2 {
  font-size: 3rem;
  font-family: PlayFair;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: OpenSans;
}
h4 {
  font-size: 1.3rem;
  font-family: OpenSans;
  font-weight: 400;
}
h5 {
  font-size: 1.775rem;
  font-family: PlayFair;
}
h6 {
  font-size: 1.331rem;
  font-family: PlayFair;
}
p {
  font-size: 1rem;
  font-family: OpenSans;
}
small {
  font-size: 0.75rem;
  font-family: PlayFair;
}

/* Variablen / Color */
:root {
  --bg-color: #6b4c3b;
  --text-color: #f3e9dc;
  --color3: #ffffff;
}

/* HEADER - SECTION */
.header-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg-color);
  align-items: center;
}
.header-section h1 {
  margin-left: 1rem;
  align-items: center;
  color: var(--text-color);
}

.header-section .nav-section ul {
  display: flex;
  margin-right: 1rem;
  list-style: none;
  align-items: center;
  gap: 1rem;
}
.header-section .nav-section ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.header-section .nav-section ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header-section .nav-section ul li a:focus {
  text-decoration: underline;
}

/*  Hero - Section */
.hero-section {
  position: relative;
  height: 60vh;
  background-image: url("../img/HeroBild.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(107, 76, 59, 0.6) 0%), rgba(107, 76, 59, 0.2) 100%;
}
.hero-section .text-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--text-color);
  text-align: center;
}
.hero-section .text-content h2 {
  margin-bottom: 1.5rem;
  max-width: 25rem;
  overflow-wrap: break-word;
}
.hero-section .text-content p {
  max-width: 23.125rem;
  overflow-wrap: break-word;
}
/* ABOUT US - SECTION */
.about-us-section {
  background-color: var(--text-color);
  color: var(--bg-color);
  display: flex;
  padding: 3rem;
  gap: 2rem;
}
.about-us-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-section .text-container p {
  font-weight: 100;
}
.about-us-section .img-container {
  width: 100%;
}
.about-us-section .img-container img {
  width: 100%;
  height: 50vh;
}
/* OUR SPECIALTY */
.our-specialty {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  background-color: var(--text-color);
  color: var(--bg-color);
  height: 1000px;
  gap: 1rem;
  padding: 40px;
}
.our-specialty h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.our-specialty .description-container {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  gap: 8rem;
}
.our-specialty .description-container .description {
  border: 3px solid var(--bg-color);
  height: 20%;
  width: 20%;
  padding: 1rem;
}
.our-specialty .description-container .description h4 {
  margin-bottom: 1rem;
}

/* Media - Queries */
.container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
}
/* @media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
